<h1>Listing articles</h1>
<%= link_to 'New Article', new_admin_article_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Supplier</th>
      <th>Published at</th>
      <th>Supplier ref</th>
      <th>Free</th>
      <th>Medium</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.name, admin_article_path(article) %></td>
        <td><%= article.supplier %></td>
        <td>
          <% if article.published_at %>
            <%= distance_of_time_in_words(article.published_at, Time.now) +" ago" %></td>
          <% end %>
        <td><%= article.supplier_ref %></td>
        <td><%= article.free %></td>
        <td><%= article.medium %></td>
        <td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>