%p
 =notice
-if params[:search]
 %h1{:style => "margin-left:20px"}
  ="#{@articles.count} entries about \"#{params[:search]}\""
-else
 %h1{:style => "margin-left:20px"} All entries

- unless @articles.count == 0
 %div{:width=>"900px", :style => "margin-left:20px;margin-bottom:20px"}
  %span Type
  - Article::MEDIA.each do |type|
   %a{:class => "filter type down"} #{type}
  %span Supplier
  - Article::SUPPLIERS.each do |supplier|
   %a{:class => "filter supplier down"} #{supplier}
  %span Cost
  %a{:class => "filter cost down"} Free
  %a{:class => "filter cost down"} Paid
 - if params[:search]
  %div{:class=>"list long"}
   %ul
    -@articles.each do |article|
     = render :partial => "shared/article_line", locals: {article: article}
  = render "shared/icons"
 - else
  -cache do
   %div{:class=>"list long"}
    %ul
     -@articles.each do |article|
      = render :partial => "shared/article_line", locals: {article: article}
   = render "shared/icons"