%p{:id=>"notice"}
 =notice
%div{:id=>"article"}
 -if current_user
  =hidden_field_tag 'user_id', current_user.id
 =hidden_field_tag 'article_id', @article.id
 %div{:id=>"description"}
  %h1
   =@article.name
  %p{:style=>"margin-top:30px"}
   =@article.description
  - if current_user
   %div{:style=>"margin-top:30px"}
    %h2 Notes
    %div{:id=>"notes"}
     =h(current_user.article_notes.find_by_article_id(@article.id).andand.notes).gsub('\n', '<br>').html_safe
 %div{:id=>"labels"}
  = render :partial => "shared/cost_label", locals: {article: @article}  
  %p
   -if @article.supplier_ref
    ="#{@article.supplier} - #{@article.supplier_ref}"
   -else
    ="#{@article.supplier}"
  %p
   - if @article.published_at
    - if @article.published_at > (Time.now - 24.hours)
     today
    - else
     ="Published #{distance_of_time_in_words(@article.published_at, Time.now)} ago"
  -if current_user
   %p{:style=>"margin-bottom:20px"}
    -if current_user.favourites.include? @article
     =link_to "Unmark as favourite", updateStatus_article_path(@article, type: "unfavourite"), method: :put, :class=>"pill"
    - else
     =link_to "Mark as favourite", updateStatus_article_path(@article, type: "favourite"), method: :put, :class=>"pill"
   %p{:style=>"margin-bottom:20px"}
    - if current_user.viewed.include? @article
     =link_to "Unmark as viewed", updateStatus_article_path(@article, type: "unviewed"), method: :put, :class=>"pill"
    - else
     =link_to "Mark as viewed", updateStatus_article_path(@article, type: "viewed"), method: :put, :class=>"pill"
  -if @article.supplier == Article::RUBYTAPAS && !@article.free
   %p
    =link_to @article.video_link, :class=>"pill", :target => "_blank" do
     %span Download
  -elsif @article.medium == Article::COURSE
   %p
    =link_to @article.video_link, :class=>"pill", :target => "_blank" do
     %span Go to course
  -elsif @article.medium == Article::VIDEO
   %p
    =link_to @article.video_link, :class=>"pill", :target => "_blank" do
     %span Go to video
  -elsif @article.medium == Article::AUDIO
   %p
    =link_to @article.video_link, :class=>"pill", :target => "_blank" do
     %span Go to audio
  -else
   =link_to @article.video_link, :class=>"pill", :target => "_blank" do
    %span Go to article