%div{:style => "margin-left:25px"}
  %h1 Submit new content for the Rubyclopedia
  = form_for @submission do |f|
    - if @submission.errors.any?
      #error_explanation
        %h2
          = pluralize(@submission.errors.count, "error")
          prohibited this proposed article from being sent:
        %ul
          - @submission.errors.full_messages.each do |msg|
            %li= msg
    = hidden_field_tag :user_id, current_user.id
    .field
      = f.label :url
      %br
        = f.text_field :url
    .field
      = f.label :description
      %br
        = f.text_area :description
    .actions
      = f.submit