%html
 %head
  %title Rubyclopedia
  =stylesheet_link_tag "application", :media => "all"
  =javascript_include_tag "application"
  =csrf_meta_tags
 %body{:style => ""}
  %div{:id => "container"}
   %div{:class => "title"}
    %a{:href=>"/"}
     = render :partial => "layouts/logo"
     %h1 Rubyclopedia
    %div{:id=>"searchbox"}
     %ul{:id=>"navlist"}
      %li
       = link_to('About', about_path)
      = render "devise/menu/login_items"
      = render "devise/menu/registration_items"
     %form{:id=>"searchform", :action => "/articles"}
      = text_field_tag :search, params[:search], autocomplete: :off, placeholder: 'Search'
   = yield
    =javascript_include_tag "gauges"
